/data/*
/data_drpo/*
/data_drpo-false/*
/Qwen-Math-1.5B-data/*
/Qwen-Math-1.5B-data-drGRPO/*
/Qwen-Math-1.5B-data-drGRPO-false/*
/Qwen2.5-Math-1.5B-Instruct-data/*
/Qwen2.5-Math-1.5B-Instruct-data-drGRPO/*
/Qwen2.5-Math-1.5B-Instruct-data-drGRPO-false/*

/Qwen2.5-Math-7B-data/*
/Qwen2.5-Math-7B-data-DrGRPO/*
/Qwen2.5-Math-7B-data-DrGRPO-false/*

/Qwen2.5-Math-7B-Instruct-data/*
/Qwen2.5-Math-7B-Instruct-data-DrGRPO/*
/Qwen2.5-Math-7B-Instruct-data-DrGRPO-false/*
/wandb/*

# ./src/open_r1/_pycache_/*
# ./src/open_r1/trl/_pycache_/*
# ./src/open_r1/trl_old/_pycache_/*

# ./src/open_r1/trl_old/_pycache_/*

